# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
nbproject/
nbbuild/
nb-configuration.xml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
