server:
  port: 8082
spring:
  application:
    name: order-service
  cloud:
    openfeign:
      circuitbreaker:
        enabled: false
      client:
        config:
          default:
            connectTimeout: 5000
            readTimeout: 5000
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
